@import "./../../../styles/variable";
.layout {
  position: relative;
  &__hide {
    overflow: hidden;
  }
  .sidemenu {
    position: absolute;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    width: 300px;
    top: 0;
    padding: 24px;
    left: -300px;
    height: 100%;
    color: #000 !important;
    text-decoration: none;
    &__active {
      left: 0px;
      .sideMenuItem {
        margin-bottom: 10px;
        font-weight: 500;
        a {
          color: #000 !important;
          text-decoration: none;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 999;
    background: #0000008c;
  }
  .header {
    .mainHeader {
      padding: 16px 0;
      background-color: #fff;
      .logoWrap {
      }
      .navWrap {
        display: none;
        gap: 46px;
        justify-content: flex-end;
        align-items: center;
        @media (min-width: 1024px) {
          display: flex;
        }
        &__mobile {
          display: flex;
          text-align: right;
          img {
            width: 36px;
            height: 36px;
          }
          @media (min-width: 1024px) {
            display: none;
          }
        }
        .navItem {
          font-size: 16px;
          &:hover {
            cursor: pointer;
            opacity: 0.75;
          }
          a {
            text-decoration: none !important;
            color: #000;
          }
          &__hover {
            .navWrap {
              display: none;
            }
            &:hover {
              .navWrap {
                display: block;
                position: absolute;
                z-index: 9;
                background: white;
                box-shadow: 3px 4px 10px rgba(86, 68, 169, 0.05);
                padding: 24px 16px;
                .navChildMenu {
                  margin-bottom: 12px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footerWrap {
    background-color: #f6f6f6;
    padding: 56px 0 32px;
    .footerContent {
      justify-content: center;
      .footerAddress {
        margin-top: 52px;
        font-size: 16px;
      }
      .footerSocmed {
        .footerSocmedItem {
        }
      }
      .footerOtherMenu {
        // display: flex;
        // justify-content: space-evenly;
        .footerOtherTitle {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 24px;
        }
        .footerItemMenu {
          margin-bottom: 28px;
          font-size: 16px;
        }
      }
    }
    .copyRight {
      text-align: center;
      font-size: 16px;
    }
  }
  .whatsappBtn {
    position: fixed;
    z-index: 9;
    bottom: 20px;
    right: 20px;
    .whatsappBtnCta {
      width: 55px;
      height: 55px;
      padding: 8px;
      border-radius: 30px;
      background-color: #49e670;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
