@import "./../../../styles/variable";
.avatarContainer {
  display: flex;
  align-items: center;
  cursor: pointer; /* Add this to make it look clickable */
}

.avatarContainer img {
  border-radius: 50%; /* This gives a circular shape to the avatar */
  margin-right: 8px; /* Adjust the margin as needed */
}

.avatarContainer span {
  color: #000; /* Set the text color */
  font-size: 16px; /* Adjust the font size as needed */
  /* You can add more styles as per your design */
}

.layout {
  position: relative;
  &__hide {
    overflow: hidden;
  }
  .sidemenu {
    position: absolute;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    width: 300px;
    top: 0;
    padding: 24px;
    left: -300px;
    height: 100%;
    color: #000 !important;
    text-decoration: none;
    &__active {
      left: 0px;
      .sideMenuItem {
        margin-bottom: 10px;
        font-weight: 500;
        a {
          color: #000 !important;
          text-decoration: none;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 999;
    background: #0000008c;
  }
  .header {
    .contactWrap {
      padding: 8px;
      font-size: 10px;
      @media (min-width: 576px) {
        font-size: 12px;
      }
      font-weight: 600;
      color: #fff;
      background-color: $primary;
      display: flex;
    }
    .mainHeader {
      padding: 16px 0;
      background-color: #fff;
      .logoWrap {
      }
      .navWrap {
        display: none;
        gap: 46px;
        justify-content: flex-end;
        align-items: center;
        @media (min-width: 1024px) {
          display: flex;
        }
        &__mobile {
          display: flex;
          text-align: right;
          img {
            width: 36px;
            height: 36px;
          }
          @media (min-width: 1024px) {
            display: none;
          }
        }
        .navItem {
          font-size: 16px;
          button {
            background-color: $secondary;
            padding: 6px 32px;
          }
          a {
            text-decoration: none !important;
            color: #000;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.05); // Scale up on hover
            transition: transform 0.2s ease; // Add a smooth transition effect
            button {
              background-color: lighten(
                $secondary,
                10%
              ); // Lighten the background color
            }
          }
          &__hover {
            .navWrap {
              display: none;
            }
            &:hover {
              .navWrap {
                display: block;
                position: absolute;
                z-index: 9;
                background: white;
                box-shadow: 0 4px 10px rgba(86, 68, 169, 0.2); // Slightly modify the box shadow
                padding: 24px 16px;
                .navChildMenu {
                  margin-bottom: 12px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footerWrap {
    background-color: #f6f6f6;
    padding: 56px 0 32px;
    .footerContent {
      justify-content: center;
      .footerAddress {
        font-size: 16px;
      }
      .footerSocmed {
        .footerSocmedItem {
        }
      }
      .footerOtherMenu {
        // display: flex;
        // justify-content: space-evenly;
        .footerOtherTitle {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 24px;
        }
        .footerItemMenu {
          color: #000;
          margin-bottom: 28px;
          font-size: 16px;
          text-decoration: none; /* Remove underlines from links */
          cursor: pointer; /* Change the cursor to a pointer on hover */
        }
        .footerItemMenu:hover {
          text-decoration: underline; /* Add underline on link hover */
        }
      }
    }
    .copyRight {
      text-align: center;
      font-size: 16px;
    }
  }
  .whatsappBtn {
    position: fixed;
    z-index: 9;
    bottom: 115px;
    right: 30px;
    .whatsappBtnCta {
      width: 55px;
      height: 55px;
      padding: 8px;
      border-radius: 30px;
      background-color: #49e670;
    }
  }
  .liveChatBtn {
    position: fixed;
    z-index: 9;
    bottom: 100px;
    right: 20px;
    .liveChatBtnCta {
      width: 55px;
      height: 55px;
      padding: 8px;
      border-radius: 30px;
      background-color: #f1c40f;
    }
  }
}

.socialMedia {
  display: flex;
  gap: 10px;
  span {
    font-size: 16px;
    display: block;
    font-weight: bold;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; // Adjust the width of each button as needed
    height: 40px; // Adjust the height of each button as needed
    background-color: #3f51b5; // Set background color as needed
    color: #fff; // Set text color as needed
    border-radius: 50%;
    transition: background-color 0.3s ease;

    margin-top: 10px;
    &:hover {
      background-color: #303f9f; // Set hover background color as needed
    }

    svg {
      font-size: 20px; // Set the icon size as needed
    }
  }

  a[href*="instagram"] {
    background-color: #bc2a8d; // Instagram color
  }

  a[href*="facebook"] {
    background-color: #3b5998; // Facebook color
  }

  a[href*="twitter"] {
    background-color: #1da1f2; // Twitter color
  }
}
.midtransLogoContainer {
  align-self: flex-start; /* Adjust the alignment as needed */
  margin-top: 10px;
  // margin-left: -136px;
}
.midtransSection,
.socialMediaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midtransLogo {
  /* Styles for Midtrans Logo */
  display: flex;
  justify-content: flex-end;
  margin-top: -20px; /* Adjust the margin as needed */

  a {
    /* Your styles for the Midtrans logo link */
  }

  img {
    width: 120px;
    height: auto;
  }
}

.customLink {
  text-decoration: none;
  margin-bottom: 28px;
  position: relative;
  transition: color 0.3s ease;
}

.customLink:hover {
  color: #0000ff; /* Change this to your desired hover color */
}

.customLink:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 35%;
  height: 2px;
  background-color: #000; /* Change this to your desired underline color */
}
