.title {
  font-size: 18px;
  line-height: 27px;
  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 38px;
  }
  margin-bottom: 12px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 24px;
  opacity: 0.75;
}

.link {
  background-color: #01B7F2;
  padding: 4px 12px;
  border-radius: 16px;
  line-height: 24px;
  text-decoration: none !important;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.border {
  border-bottom: 3px solid #01B7F2; // Adjust border properties as needed
  margin-top: 3px; // Add margin-top for spacing
  width: 20%;
}