@import "/node_modules/bootstrap/scss/bootstrap.scss";
// @import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@400;500,600&display=swap");
@import "./variable";

html,
body {
  font-family: "Poppins", "Bricolage Grotesque", sans-serif;
}

#search {
  &:focus-visible {
    outline: none;
  }
}

input {
  border: none;
  background-color: rgb(254, 247, 247);
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.error-input {
  border: 1px solid red !important;
}

#book {
  button {
    background-color: $secondary;
    padding: 12px 32px;
  }
}

#logo-payment {
  img {
    width: 100%;
    height: 24px;
  }
}

#btn-login {
  button {
    margin-top: 32px;
    width: 100%;
    padding: 12px 32px;
    color: #fff;
    background-color: $secondary;
  }
}

#btn-regist {
  text-align: center;
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 200;
  box-shadow: 0 1.6rem 3rem rgb(0 0 0 / 10%);
}

.sticky + #heroShot {
  padding-top: 102px;
}

// Diving Page
.title-diving {
  font-size: 2.25rem;
  @media (min-width: 768px) {
    font-size: 2.75rem;
  }
  font-weight: 600;
  margin-bottom: 12px;
}
.subtitle-diving {
  font-size: 1.35rem;
  @media (min-width: 768px) {
    font-size: 1.65rem;
  }
  font-weight: 600;
  margin-bottom: 4px;
  overflow-wrap: break-word;
  a {
    color: #000 !important;
  }
}
.row.justify-content-between._custom {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row.justify-content-between._custom::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
  margin: 0 1rem;
}
.text-diving {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 2.1;
}
.text-diving.larger {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 2.1;
}
.card-custom_diving {
  background: #f7f3f0;
  padding: 24px 16px;
  border-radius: 16px;
  margin: 42px 0;
  @media (min-width: 768px) {
    padding: 48px 36px;
  }
  table {
    margin-top: 24px;
    width: 100%;
    border: 1px solid #e0e0e0;
    thead {
      background-color: #fff;
      tr {
        background-color: #fff;

        th {
          padding: 24px 16px;
          font-size: 1rem;
          @media (min-width: 768px) {
            font-size: 1.125rem;
          }
        }
      }
    }
    tbody {
      tr {
        background-color: #efefef;
        td {
          padding: 24px 16px;
          font-size: 1rem;
          @media (min-width: 768px) {
            font-size: 1.125rem;
          }
        }
      }
      tr:nth-child(even) {
        background-color: #fff;
      }
    }
  }
  ul {
    margin-bottom: 16px;
    li {
      margin-bottom: 16px;
      font-size: 1.125rem;
    }
  }
}

.list-diving {
  background-color: #fff;
  padding: 32px 28px;
  border-radius: 16px;
  .list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    .list-item_title {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 8px;
    }
    .list-item_text {
      margin-bottom: 24px;
    }
  }
}

.image-diving {
  img {
    width: 100%;
  }
}

.image-diving.fixed {
  height: 400px;
  img {
    height: inherit;
    object-fit: cover;
  }
}

.image-diving.long {
  height: 100%;
  display: flex;
  align-items: center;
}

.image-diving.payment {
  height: 400px;
  display: flex;
  align-items: center;
  img {
    height: inherit;
    object-fit: contain;
  }
}

.square-item {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.h-200 {
  height: 200px;
  img {
    height: inherit;
    object-fit: cover;
  }
}

.h-250 {
  height: 250px;
  img {
    height: inherit;
  }
}

.h-300 {
  height: 300px;
  img {
    height: inherit;
    object-fit: cover;
  }
}

// Override
.select__control {
  border: none !important;
  .select__value-container {
    .select__placeholder {
      &:focus-visible {
        outline: none;
      }
    }
    .select__input-container {
      &:focus-visible {
        outline: none;
      }
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    min-height: 38px !important;
    input {
      margin: 2px;
      padding-bottom: 2px;
      padding-top: 2px;
      border: none;
      width: 100% !important;
    }
  }
}

.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgb(24 24 24 / 75%) !important;
  .ReactModal__Content {
    border-radius: 24px !important;
    img {
      object-fit: cover;
      border-radius: 14px !important;
      max-width: 600px;
      max-height: 500px;
    }
  }
}

.react-datepicker__tab-loop {
  font-family: "Bricolage Grotesque", sans-serif !important;
  .react-datepicker-popper {
    box-shadow: 0 1.6rem 3rem rgb(0 0 0 / 10%);
    .react-datepicker {
      border: none !important;
      border-radius: 16px !important;
      .react-datepicker__triangle {
        &::before {
          border: none !important;
        }
      }
      .react-datepicker__navigation {
        border-radius: 32px;
        background: $primary;
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: flex-start;
        .react-datepicker__navigation-icon {
          &--next {
            left: 0px !important;
            top: 2px !important;
          }
          &--previous {
            right: 0px !important;
            top: 2px !important;
          }
        }
      }
      .react-datepicker__header {
        border-top-right-radius: 16px !important;
        border-top-left-radius: 16px !important;
        background-color: $secondary;
        padding: 12px 0 !important;
        .react-datepicker__current-month {
          color: #fff !important;
        }
        .react-datepicker__day-names {
          .react-datepicker__day-name {
            color: #fff !important;
          }
        }
      }
      .react-datepicker__month {
        margin: 0.75rem !important;
      }
    }
  }
}
