.headerPage {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 62px;
  }
  height: 350px;
  padding: 120px 0 80px;
  background-color: lightgray;

  background-position: center;
  background-attachment: fixed;
  .title {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding: 0 1rem 10px;
    @media (min-width: 768px) {
      font-size: 40px;
      padding: 0 4rem 10px;
    }
    color: #fff;
    position: relative;
    z-index: 99;
  }
  .breadcrumb {
    font-size: 14px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99;
    color: #fff;
    .breadcrumbItem {
      &__bold {
        font-weight: 700;
      }
    }
  }
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  /* padding: 80px 0; */
  top: 0;
  height: 100%;
}
